:root{
    --bg:#000;
    --panel:#111;
    --text:#e8e8e8;
    --accent:#b21d19;
}

*{margin:0;padding:0;box-sizing:border-box;font-family:Arial, sans-serif;}

body{
    background:var(--bg);
    color:var(--text);
}

.container{
    width:92%;
    max-width:900px;
    margin:auto;
}

/* HERO */
.hero{
    background-image:url('file_0000000079707207be1a2821720f5b52.png');
    background-size:cover;
    background-position:center;
    padding:100px 0;
    margin-bottom:20px;
}

.hero-inner{
    background:rgba(0,0,0,0.55);
    padding:25px;
    border-radius:12px;
}

h1{font-size:42px;font-weight:800;margin-bottom:10px;}
.lead{font-size:18px;margin-bottom:6px;}
.muted{opacity:.85;margin-bottom:10px;}

/* CARD */
.card{
    background:var(--panel);
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px;
    border-radius:16px;
    margin-bottom:16px;
}

.left{
    display:flex;
    align-items:center;
    gap:15px;
}

.icon{
    width:45px;
    height:45px;
}

.title{
    font-size:17px;
    font-weight:700;
}

.subtitle{
    font-size:13px;
    opacity:.7;
}

/* BTN */
.btn{
    background:var(--accent);
    padding:10px 18px;
    color:white;
    text-decoration:none;
    font-size:15px;
    border-radius:10px;
    font-weight:bold;
}

footer{
    text-align:center;
    font-size:13px;
    opacity:.7;
    margin:40px 0;
}
