:root{
  --bg:#000;
  --panel:#0d0d0d;
  --muted:#aaa;
  --accent:#b83b34;
  --white:#f2f2f2;
  --radius:22px;
}

*{margin:0;padding:0;box-sizing:border-box;}

body{
  background: radial-gradient(circle at top, #1a0000 0%, #000 65%);
  font-family: Inter, Arial, sans-serif;
  padding:40px 18px 80px;
  color:var(--white);
}

.panel{
  background:rgba(0,0,0,0.55);
  border-radius:var(--radius);
  padding:36px 24px;
  max-width:880px;
  margin:0 auto;
  backdrop-filter:blur(7px);
  box-shadow:0 25px 45px rgba(0,0,0,0.7);
}

/* LOGO */
.logo-center{
  text-align:center;
  margin-bottom:26px;
}
.logo-big{
  width:140px;
  height:140px;
  border-radius:20px;
  box-shadow:0 0 45px rgba(255,0,0,0.18);
}

/* TEXT */
h1{
  font-size:38px;
  font-weight:800;
  margin-bottom:12px;
}
.lead{
  font-size:18px;
  margin-bottom:8px;
}
.muted{
  font-size:14px;
  color:var(--muted);
  margin-bottom:16px;
}

/* BLOOD */
.blood-toggle{
  display:flex;
  align-items:center;
  gap:12px;
  font-size:14px;
  opacity:0.7;
  margin-bottom:30px;
}
.toggle-dot{
  width:35px;height:20px;
  background:#3b0000;
  border-radius:20px;
  position:relative;
}
.toggle-dot::after{
  content:"";
  width:14px;height:14px;
  background:var(--accent);
  border-radius:50%;
  position:absolute;
  top:3px;right:3px;
}

/* CARDS */
.list-cards{
  display:flex;
  flex-direction:column;
  gap:22px;
}

.card{
  background:rgba(255,255,255,0.05);
  border-radius:var(--radius);
  padding:18px 20px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  border:1px solid rgba(255,255,255,0.06);
}

.icon-img{
  width:40px;
  height:40px;
  border-radius:10px;
  padding:6px;
  background:#000;
  box-shadow:inset 0 0 12px rgba(0,0,0,0.7);
}

.left{
  display:flex;
  align-items:center;
  gap:16px;
}

.title{
  font-size:16px;
  font-weight:700;
}
.sub{
  font-size:13px;
  color:var(--muted);
}

/* BUTTON */
.btn{
  background:var(--accent);
  padding:10px 20px;
  border-radius:14px;
  color:#fff;
  font-weight:700;
  text-decoration:none;
  box-shadow:0 6px 15px rgba(184,59,52,0.25);
  transition:0.2s;
}
.btn:hover{
  transform:translateY(-2px);
  box-shadow:0 14px 35px rgba(0,0,0,0.6);
}

/* FOOTER */
.panel-foot{
  text-align:center;
  margin-top:30px;
  font-size:13px;
  color:var(--muted);
}
